# Files ignored by Git
# ====================

# - Built files,
!/gulpfile.js
!/test.js
/*.js
/tools/*.js

# - All files and directories starting with "#",
\#*

# - Automatically installed dependencies,
/node_modules/

# - Test coverage reports,
/coverage/

# - Editor files.
*.sublime-project
*.sublime-workspace
