# Files ignored by Git
# ====================

# - Built files,
/*.js
/tools/*.js
!/module.js
!/test.js
/.es5/

# - All files and directories starting with "#",
\#*

# - Automatically installed dependencies,
/node_modules/
/npm-debug.log

# - Test coverage reports,
/coverage/

# - Editor files.
*.sublime-project
*.sublime-workspace
